.user_container {

  display: flex;
  align-items: center;

  span {
    color: fuchsia;
    //font-weight: bold;
    font-size: 20px;
    &:nth-child(1){
      animation-delay: 150ms;
    }
    &:nth-child(2){
      animation-delay: 250ms;
    }

    &:nth-child(2) {
      margin: 0 10px;
      color: yellowgreen;
    }
  }

  button {
    border: 1px solid fuchsia;
    background: transparent;
    border-radius: 10px;
    color: fuchsia;
    font-weight: bold;
    padding: 7px;
    //width: 70px;
    line-height: 1.2;
    margin-right: 15px;
    animation-delay: 350ms;
  }
}