body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.navigation{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 2px solid fuchsia;
}
.active {
  color: greenyellow !important;
  font-weight: bold;
}

.loading {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main_content {
  overflow: hidden;

  h1, h2 {
    text-align: center;
    font-size: 35px;
    color: fuchsia;
    font-weight: bold;
  }

  p {
    text-align: center;
    font-size: 15px;
    color: fuchsia;
    font-weight: 400;
  }

  .registration {
    position: absolute;
    right: 40px;
    top: 20px;

    .sign_up {
      height: 30px;
      border: 1px solid fuchsia;
      background-color: transparent;
      color: fuchsia;
      border-radius: 10px;
      margin-right: 20px;
      width: 70px;
    }

    .login {
      height: 30px;
      border: 1px solid fuchsia;
      background-color: transparent;
      color: fuchsia;
      border-radius: 10px;
      width: 70px;
    }
  }

}
